@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bangers-font: 
}

h1 {
    color: rgb(219, 102, 182);
}

p {
    color: rgb(11, 168, 230);
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

#game-image {
    width: 100%;
    height: 60%;
    background-image: url('images/quiz-background.avif');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.content p {
    font-size: 4rem;
    font-family: bangers;
    color: rgb(219, 102, 182);
}

.btn {
    width: 160px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fffc00;
    color: rgb(219, 102, 182);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* -------------------------------------- game.html */
nav {
    width: 100vw;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settings-icon {
    width: 60px;
    height: 50px;
    padding-top: 10px;
    background-image: url('images/settings.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

main {
    max-width: 1000px;
    /* height: 100vh; */
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#question-area {
    max-width: 94%;
    /* min-height: 10%; */
    margin-top: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px;
    font-size: 22px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#question-choices-area {
    max-width: 94%;
    min-height: 10%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-btn {
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
}

#score-area {
    width: 80%;
    /* height: 140px; */
    margin-top: 20px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#three-incorrect-answers-crosses {
    width: 96%;
    height: 140px;
    margin-top: 20px;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

.cross-box {
    width: 100%;
    height: 100%;
    background-image: url('images/incorrect-removebg.png');
    background-size: 100% 100%;
    visibility: hidden;
}

#game-over {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#game-over h1 {
    font-size: 4rem;
}

#game-over p {
    font-size: 1.6rem;
    /* letter-spacing: 1.6px; */
    line-height: 40px;
    padding: 10px;
    text-align: center;
    color: #333;
}

#user_score {
    color: red;
    font-family: bold;
}